absl-py==2.4.0
asgiref==3.11.1
cffi==2.0.0 ; platform_python_implementation != 'PyPy'
charset-normalizer==3.4.5
colorama==0.4.6 ; sys_platform == 'win32'
cryptography==46.0.5
defusedxml==0.7.1
django==5.2.12
djangorestframework==3.15.2
et-xmlfile==2.0.0
gunicorn==25.1.0
immutabledict==4.3.1
mysqlclient==2.2.4
numpy==2.4.3
openpyxl==3.1.5
ortools==9.15.6755
packaging==26.0
pandas==3.0.1
pdfminer-six==20251230
pdfplumber==0.11.9
pillow==12.1.1
protobuf==6.33.5
pycparser==3.0 ; implementation_name != 'PyPy' and platform_python_implementation != 'PyPy'
pypdf==6.7.5
pypdfium2==5.5.0
pypng==0.20220715.0
python-dateutil==2.9.0.post0
qrcode==7.4.2
six==1.17.0
sqlparse==0.5.5
typing-extensions==4.15.0
tzdata==2025.3 ; sys_platform == 'emscripten' or sys_platform == 'win32'
xlrd==2.0.1
