{% extends "scan/base.html" %}
{% load i18n static %}

{% block title %}WMS Scan - Imports{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'scan/import_selectors.css' %}">
{% endblock %}

{% block content %}
  {% include "scan/includes/imports_intro_card.html" %}

  {% if product_match_pending %}
    {% include "scan/includes/imports_product_match_review.html" %}
  {% endif %}

  {% include "scan/includes/imports_products_card.html" %}
  {% include "scan/includes/imports_locations_card.html" %}
  {% include "scan/includes/imports_categories_card.html" %}
  {% include "scan/includes/imports_warehouses_card.html" %}
  {% include "scan/includes/imports_contacts_card.html" %}
  {% include "scan/includes/imports_users_card.html" %}

  {{ import_selector_data|json_script:"scan-import-selector-data" }}
  <script src="{% static 'scan/import_selectors.js' %}"></script>
{% endblock %}
