{% load static %}

<div id="customs-note-sheet" class="sheet">
  <div id="customs-note-header" class="sheet-header">
    <img class="sheet-logo" src="{% static 'scan/logo.jpg' %}" alt="Logo ASF">
    <div class="sheet-org">
      <div>Bat. 7200, Rue de la remise - 95700 Roissy En France</div>
      <div class="sheet-org-contact-line">messmed@aviation-sans-frontieres-fr.org // +33 6 50 03 72 36</div>
      <div>Association reconnue d'utilité publique depuis 1993</div>
    </div>
  </div>

  <table id="customs-note-routing-primary" class="sheet-table sheet-routing-table">
    <colgroup>
      <col class="sheet-col-label">
      <col class="sheet-col-value">
      <col class="sheet-col-label">
      <col class="sheet-col-value">
    </colgroup>
    <tr class="sheet-emphasis-row">
      <th>ORIGINE</th>
      <td class="sheet-highlight">FRANCE</td>
      <th>DESTINATION</th>
      <td class="sheet-highlight">{{ destination_city|default:destination_address|default:"-" }}</td>
    </tr>
    <tr class="sheet-emphasis-row">
      <th>DEP. IATA CODE</th>
      <td class="sheet-highlight">CDG</td>
      <th>DEST. IATA CODE</th>
      <td class="sheet-highlight">{{ destination_iata|default:"-" }}</td>
    </tr>
    <tr>
      <th>NUMERO D'EXPEDITION / <span class="sheet-en">Expedition number</span></th>
      <td>{{ shipment_ref }}</td>
      <th>NUMERO DE VOL / <span class="sheet-en">Flight Nb</span></th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th>POIDS TOTAL / <span class="sheet-en">Total Weight</span></th>
      <td>
        {% if weight_total_kg %}
          {{ weight_total_kg|floatformat:2 }} kg
        {% else %}
          -
        {% endif %}
      </td>
      <th>DATE DE VOL / <span class="sheet-en">Flight Date</span></th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th>NOMBRE DE COLIS / <span class="sheet-en">Nb of parcels</span></th>
      <td>{{ carton_count }}</td>
      <th>&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
  </table>

  <table id="customs-note-routing-secondary" class="sheet-table sheet-routing-table">
    <colgroup>
      <col class="sheet-col-label">
      <col class="sheet-col-value">
      <col class="sheet-col-label">
      <col class="sheet-col-value">
    </colgroup>
    <tr>
      <th>TRANSITAIRE / <span class="sheet-en">Forwarding Agent</span></th>
      <td>&nbsp;</td>
      <th>VISA DOUANE / <span class="sheet-en">Customs date</span></th>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th>NUMERO EX / <span class="sheet-en">Export. Nb</span></th>
      <td>&nbsp;</td>
      <th>RESP. DOUANE ASF / <span class="sheet-en">ASF Customs agent</span></th>
      <td>&nbsp;</td>
    </tr>
  </table>

  <div id="customs-note-parties" class="sheet-party-grid">
    <table class="sheet-table sheet-party-table">
      <colgroup>
        <col class="sheet-col-label">
        <col>
      </colgroup>
      <tr class="sheet-section-row"><th colspan="2" class="sheet-section-title">EXPEDITEUR / <span class="sheet-en">Shipper</span></th></tr>
      <tr><th>Nom / <span class="sheet-en">Name</span></th><td>{% firstof shipper_info.person shipper_info.company "-" %}</td></tr>
      <tr><th>Organisation / <span class="sheet-en">Organization</span></th><td>{{ shipper_info.company|default:"-" }}</td></tr>
      <tr><th>Adresse / <span class="sheet-en">Address</span></th><td>{{ shipper_info.address|default:"-" }}</td></tr>
      <tr><th>Contact</th><td>{{ shipper_info.email|default:"-" }}</td></tr>
      <tr><th>Téléphone / <span class="sheet-en">Phone</span></th><td>{{ shipper_info.phone|default:"-" }}</td></tr>
    </table>

    <table class="sheet-table sheet-party-table">
      <colgroup>
        <col class="sheet-col-label">
        <col>
      </colgroup>
      <tr class="sheet-section-row"><th colspan="2" class="sheet-section-title">DESTINATAIRE / <span class="sheet-en">Consignee</span></th></tr>
      <tr><th>Nom / <span class="sheet-en">Name</span></th><td>{% firstof recipient_info.person recipient_info.company "-" %}</td></tr>
      <tr><th>Organisation / <span class="sheet-en">Organization</span></th><td>{{ recipient_info.company|default:"-" }}</td></tr>
      <tr><th>Adresse / <span class="sheet-en">Address</span></th><td>{{ recipient_info.address|default:destination_address|default:"-" }}</td></tr>
      <tr><th>Contact</th><td>{{ recipient_info.email|default:"-" }}</td></tr>
      <tr><th>Téléphone / <span class="sheet-en">Phone</span></th><td>{{ recipient_info.phone|default:"-" }}</td></tr>
    </table>

    <table class="sheet-table sheet-party-table">
      <colgroup>
        <col class="sheet-col-label">
        <col>
      </colgroup>
      <tr class="sheet-section-row"><th colspan="2" class="sheet-section-title">CORRESPONDANT / <span class="sheet-en">Local Agent</span></th></tr>
      <tr><th>Nom / <span class="sheet-en">Name</span></th><td>{% firstof correspondent_info.person correspondent_info.company "-" %}</td></tr>
      <tr><th>Organisation / <span class="sheet-en">Organization</span></th><td>{{ correspondent_info.company|default:"-" }}</td></tr>
      <tr><th>Adresse / <span class="sheet-en">Address</span></th><td>{{ correspondent_info.address|default:"-" }}</td></tr>
      <tr><th>Contact</th><td>{{ correspondent_info.email|default:"-" }}</td></tr>
      <tr><th>Téléphone / <span class="sheet-en">Phone</span></th><td>{{ correspondent_info.phone|default:"-" }}</td></tr>
    </table>
  </div>

  <div class="customs-note">
    <div>CES COLIS SONT TOUS VERIFIES AUX RAYONS X PAR LES SERVICES DE LA SURETE D'AIR FRANCE D'ORLY OU DE ROISSY CHARLES DE GAULLE.</div>
    <br>
    <div class="sheet-en">These parcels have all been verified by X-ray by the Air France safety department in Orly or Roissy Charles de Gaulle airport.</div>
  </div>
</div>
