{% load i18n %}

<div
  class="label-city"
  id="shipment-label-city-{{ label.carton_id|default:'single' }}"
>{{ label.city|default:"" }}</div>
<div class="label-iata-row">
  <div class="label-iata-wrap">
    <div
      class="label-iata"
      id="shipment-label-iata-{{ label.carton_id|default:'single' }}"
    >{{ label.iata|default:"" }}</div>
  </div>
  {% if label.qr_url %}
    <div class="label-qr-wrap">
      <img class="label-qr" src="{{ label.qr_url }}" alt="{% blocktrans with shipment_ref=label.shipment_ref|default:'' %}QR expédition {{ shipment_ref }}{% endblocktrans %}">
    </div>
  {% endif %}
</div>
<div
  class="label-footer"
  id="shipment-label-footer-{{ label.carton_id|default:'single' }}"
>
  <div class="label-box">
    <span class="label-box-text">EXP N° {{ label.shipment_ref }}</span>
  </div>
  <div class="label-box small">
    <span class="label-box-text">N° {{ label.position }} / {{ label.total }}</span>
  </div>
</div>
