{% extends "print/base_a5.html" %}
{% load i18n %}

{% block title %}{% trans "Attestation aide humanitaire" %}{% endblock %}

{% block body %}
  <h1>{% trans "Attestation d'aide humanitaire" %}</h1>

  <div class="meta">{% trans "Document ref" %}: {{ document_ref }}</div>
  <div class="meta">{% trans "Date" %}: {{ document_date|date:"d/m/Y" }}</div>

  <div class="block">{% trans "Organisation" %}: {{ org_name }}</div>
  <div class="block">{% trans "Adresse" %}: {{ org_address }}</div>
  <div class="block">{% trans "Contact" %}: {{ org_contact }}</div>
  <div class="block">{% trans "Expéditeur" %}: {{ shipper_name }}</div>
  <div class="block">{% trans "Destinataire" %}: {{ recipient_name }}</div>
  <div class="block">{% trans "Destination" %}: {{ destination_address }}</div>
  <div class="block">{% trans "Objet" %}: {{ humanitarian_purpose }}</div>

  <div class="signature">{% trans "Signataire" %}: {{ org_signatory }}</div>
  <div class="signature">{% trans "Signature" %}: ________________________________</div>
{% endblock %}
