{% extends "planning/base.html" %}
{% load i18n %}

{% block title %}v{{ version.number }}{% endblock %}

{% block content %}
  {% include "planning/_version_header.html" %}
  {% include "planning/_version_planning_block.html" %}
  {% include "planning/_version_unassigned_block.html" %}

  <div class="row g-3 mt-1">
    <div class="col-lg-4">
      {% include "planning/_version_stats_block.html" %}
    </div>
    <div class="col-lg-8">
      {% include "planning/_version_exports_block.html" %}
    </div>
  </div>

  {% include "planning/_version_communications_block.html" %}
  {% include "planning/_version_history_block.html" %}
{% endblock %}
