{% extends "admin/change_list.html" %}

{% block object-tools-items %}
  {{ block.super }}
  <li>
    <a href="{% url 'admin:wms_stockmovement_receive' %}" class="addlink">R&eacute;ception stock</a>
  </li>
  <li>
    <a href="{% url 'admin:wms_stockmovement_adjust' %}" class="addlink">Ajuster stock</a>
  </li>
  <li>
    <a href="{% url 'admin:wms_stockmovement_transfer' %}" class="addlink">Transf&eacute;rer stock</a>
  </li>
  <li>
    <a href="{% url 'admin:wms_stockmovement_pack' %}" class="addlink">Pr&eacute;parer carton</a>
  </li>
{% endblock %}
